<html>
    <title>Informacije</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
    <header>
            <nav class="navbar navbar-default">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <a class="navbar-brand" href="/">{{ variable.naslov }}</a>
                      </div>
                      <ul class="nav navbar-nav">
                        <li><a href="/">Domov</a></li>
                        <li><a href="/zgodba">Zgodba</a></li>
                        <li class="active"><a href="/informacije">Informacije</a></li>
                      </ul>
                    </div>
                  </nav>
    </header>
    <div class="vsebina">
        <h2>Odpiralni Čas</h2>
        <table>
            <tr>
                <th>teden</th>
                <th>vikend</th>
            </tr>
            <tr>
                <td>{{ AktualneInformacije.teden }}</td>
                <td>{{ AktualneInformacije.vikend }}</td>
            </tr>
        </table>
        <br>
        <h2>Lokacija</h2>
        <p>{{ AktualneInformacije.lokacija }}</p>
        <br>
        <h2>Kontakt</h2>
        <p>{{ AktualneInformacije.email }}</p>
        <br>
        <br>
        <a href="/">Domov</a>
    </div> 
</html>